@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DAE2EC;
  --foreground: #10212A;
  --background-dark-blue: #00588d;
  --background-light-blue: #006EA5
  --text-dark-gold: #8D3500;
  --text-dark-gray: #355561;
  --text-light-gray: #585A5f;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
